{% extends "mainapp/main_page.html" %}

{% block title %}Удаление компанию{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated and request.user.manager_status %}
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <div class="features">
                    <h3 class="h3">Вы хорошо подумали?</h3>
                    <br>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Удалить">
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        {% include "include/no_access.html" %}
    {% endif %}
{% endblock content %}
