{% extends "base/base.html" %}

{% block title %}Все взаимодействия{% endblock title %}

{% block content %}



    {% if request.user.is_authenticated and request.user.manager_status %}
        <h4 class="text-center">Взаимодействия</h4>
        <br>

        {#    django-filter#}
            {% include "include/django_filter_form.html" %}
        {#    django-filter#}


{#        Кастомный фильтр и поиск#}
{#        {% include "include/filter_interactions.html" %}#}
{#        <br>#}
{#        {% include "include/search.html" %}#}
{#        Кастомный фильтр и поиск#}
{#        {% for interaction in interactions %}#}

        <br>
        {% for interaction in filter.qs %}
            <div class="row text-center pt-3">
                <div class="col-lg-6 m-auto">
                    <p>
                        {% if request.user.username == interaction.manager.username %}
                            <a href="{% url 'mainapp:interaction_detail' pk=interaction.id %}">
                                Проект: {{ interaction.project }} |
                                Компания: {{ interaction.company }} |
                                Канал общения: {{ interaction.communication_channel }} |
                                Менеджер: {{ interaction.manager }} |
                                Описание: {{ interaction.about }}
                            </a>
                        {% else %}
                            Проект: {{ interaction.project }} |
                            Компания: {{ interaction.company }} |
                            Канал общения: {{ interaction.communication_channel }} |
                            Менеджер: {{ interaction.manager }} |
                            Описание: {{ interaction.about }}
                        {% endif %}
                    </p>
                     <p>
                        {% include "include/like_dislike_interaction.html" with interaction_id=interaction.id %}
                     </p>
                    <hr>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% include "include/no_access.html" %}
    {% endif %}
{% endblock content %}
