{% extends "base/base.html" %}

{% block title %}Наши клиенты{% endblock title %}

{% block content %}
    <a href="{% url 'mainapp:create_company' %}"> <button class="btn btn-primary">Добавить клиента</button> </a>

    {% if companies|length > 1 %}
        {% include "include/ordering_main_page.html" %}
    {% endif %}

    {% for company in companies %}
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <a href="{% url 'mainapp:detail_company' pk=company.id %}">
                    <h3 class="h3">{{ company.name_company }}</h3>
                </a>
                <p><strong><i>Адрес:</i></strong> {{ company.address }}</p>
                <p><strong><i>E-mail:</i></strong> {{ company.email }}</p>
                <hr>
            </div>
        </div>
    {% endfor %}
    {% include "include/pagination.html" %}
{% endblock content %}