{% extends "base/base.html" %}

{% block title %}Наши клиенты{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated and request.user.manager_status %}
        <a href="{% url 'mainapp:create_company' %}" class="btn btn-primary">Добавить клиента</a>
    {% endif %}
    <h4 class="text-center">Клиенты</h4>
    {% if companies|length > 1 %}
        {% include "include/ordering_main_page.html" %}
    {% endif %}

    {% for company in companies %}
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                {% if request.user.is_authenticated %}
                <a href="{% url 'mainapp:detail_company' pk=company.id %}">
                    <h3 class="h3">{{ company.name_company }}</h3>
                </a>
                {% else %}
                    <h3 class="h3">{{ company.name_company }}</h3>
                {% endif %}
                <p><strong><i>Адрес:</i></strong> {{ company.address }}</p>
                <p><strong><i>E-mail:</i></strong> {{ company.email }}</p>
                <hr>
            </div>
        </div>
    {% endfor %}
    {% include "include/pagination.html" %}
{% endblock content %}