{% extends "base/base.html" %}

{% block title %}Проекты{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated and request.user.manager_status %}
        <a href="{% url 'mainapp:create_project' %}" class="btn btn-primary">Добавить проект</a>
        <h4 class="text-center">Проекты</h4>
        {% include "include/filter_projects.html" %}

        {% for project in projects %}
            <div class="row text-center pt-3">
                <div class="col-lg-6 m-auto">
                    <a href="{% url 'mainapp:detail_project' pk=project.id %}">
                        <h3 class="h3">{{ project.name_project }}</h3>
                    </a>
                    <p><strong><i>Компания:</i></strong> {{ project.company }}</p>
                    <p>
                        {% if project.finished %}
                            <strong><i>Статус проекта:</i></strong> Законченный
                        {% else %}
                            <strong><i>Статус проекта:</i></strong> В работе
                        {% endif %}
                    </p>
                    <p><strong><i>Стоимость:</i></strong> {{ project.price }} $</p>
                    <hr>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% include "include/no_access.html" %}
    {% endif %}
{% endblock content %}