{% extends "base/base.html" %}

{% block title %}Проекты{% endblock title %}

{% block content %}
    <a href="{% url 'mainapp:create_project' %}"> <button class="btn btn-danger">Добавить проект</button> </a>
    {% for project in projects %}
        {% if project.finish_date %}
            <div class="row text-center pt-3">
                <div class="col-lg-6 m-auto">
                    <a href="{% url 'mainapp:detail_project' pk=project.id %}">
                        <h3 class="h3">{{ project.name_project }}</h3>
                    </a>
                    <p><strong><i>Компания:</i></strong> {{ project.company }}</p>
                    <p><strong><i>E-Стоимость:</i></strong> {{ project.price }} $</p>
                    <hr>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% include "include/pagination.html" %}
{% endblock content %}