{% extends "base/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h2 class="text-center">{{ title }}</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <p>{{ form }}</p>
{#                    <div class="row-form-errors">{{ form.non_field_errors }}</div>#}
{#                    {% for f in form %}#}
{#                        <label class="form-row" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}#}
{#                        <div class="row-form-errors">{{ f.error }}</div>#}
{#                    {% endfor %}#}
                    <p><input type="submit" class="btn btn-success" value="Готово"></p>
                </form>
            </div>
        </div>
    {% else %}
        {% include "include/no_access.html" %}
    {% endif %}

{% endblock content %}
