{% extends "base/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    {% if request.user.id == check_user %}
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h3 class="h3">Пользователь {{ request.user.username }}</h3>
                <h5 class="h5">{{ title }}</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <p><input type="submit" class="btn btn-primary" value="Применить" style="margin-top: 20px"></p>
                </form>
            </div>
        </div>
    {% else %}
        {% include "include/no_access.html" %}
    {% endif %}

{% endblock content %}