<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'mainapp:main_page' %}">CRM</a>
        <div class="align-self-center flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mainapp:main_page' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mainapp:projects_page' %}">Все проекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mainapp:interaction_page' %}">Взаимодействия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Кабинет менеджера</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success" href="#">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success" href="#">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" href="#">Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>